<!-- This is the header section with the developer's name and navigation links -->
<h1>Gotta Code 'em All</h1>
{{!--menu collapse bars for side bar nav --}}
{{!-- needs to be put on the right side for a drop down --}}

{{!-- apart of the 3 line nav part to put ot the side --}}
  <div class="col-6 col-s-9">
    <h1>Choose your Pokemon!</h1>
    <p>Welcome to the world of codex where you can find all the pokemon in the our built in pokedex so that you can pick which pokemon you want to use and it will help you remeber which pokemon you want to evolve later all the way to late game.</p>


    {{!-- first name part to make it into a row --}}

    <!-- This is the main content section with the developer's bio and introductory text -->
    {{!-- <div>
        {{!-- <h2></h2>
        <p>{{developerBio}}</p> --}}
    {{!-- </div> --}}
    <!-- This is the portfolio section with a project card displaying project information -->
    <div>
        <h2>Pick your pokemon</h2>
        {{#each pokemon}}
        <div class="pokemon-card">
            {{!-- for the sprits images or picture links for pokemon --}}
            <img src="{{sprits}}" alt="{{projectTitle}}">
            <h3>{{projectTitle}}</h3>
            <p>{{projectDescription}}</p>
            <a href="{{projectLink}}">View Project</a>
            <a href="{{githubLink}}">GitHub Repository</a>
        </div>
logout
    {{/each}}
</div>


    <!-- This is the contact section with a simple contact form -->
    <div>
        <h2>signup</h2>
        {{!-- need to add signup routes to homepage --}}
        <form>
            <label for="username">username:</label>
            <input type="text" id="username" name="name">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <button type="submit">create</button>
        </form>
    </div>
    <!-- This is the resume section with a link to download the developer's resume -->
  
    {{!-- // to help with animation part for the menu collapse bar --}}
   
    <!-- This is the footer section with links to the developer's profiles -->
   