<!-- This is the header section with the developer's name and navigation links -->
<h1>Gotta Code 'em All</h1>
{{!--menu collapse bars for side bar nav --}}
{{!-- needs to be put on the right side for a drop down --}}
<div class="container" onclick="myFunction(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>

<div class="header">
    {{!-- change the money image to something pokemon related --}}
  <h1><img src="\gif pokeball.gif" alt="">GottaCode em All</h1>
</div>

<div class="row">
  <div class="col-3 col-s-3 menu">
    <ul>
      
       <li><a href="/home">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
       <li><a href="/home">Pokedex</a></li>
      <li><a href="/teams">Teams</a></li>
      <li><a href="/evolutions">evolutions</a></li>
      <li><a href="/credits">credits</a></li>
    </ul>
  </div>
{{!-- apart of the 3 line nav part to put ot the side --}}
  <div class="col-6 col-s-9">
    <h1>Choose your Pokemon!</h1>
 
  </div>

</div>




    {{!-- first name part to make it into a row --}}
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/signup">signup</a></li>
            {{!-- it was moved to the other locations of its folders name --}}
            {{!-- <li><a href="/logout">logout</a></li>
            <li><a href="/pokedex">pokedex</a></li>
            <li><a href="/teams">teams</a></li>
            <li><a href="/evolutions">evolutions</a></li>
            <li><a href="/credits">credits</a></li> --}}
        </ul>
    </nav>
    <!-- This is the main content section with the developer's bio and introductory text -->
    <div>
        <h2></h2>
        <p>{{developerBio}}</p>
    </div>
    <!-- This is the portfolio section with a project card displaying project information -->
    <div>
        <h2>Pick your pokemon</h2>
        {{#each pokemon}}
        <div class="pokemon-card">
            {{!-- for the sprits images or picture links for pokemon --}}
            <img src="{{sprits}}" alt="{{projectTitle}}">
            <h3>{{projectTitle}}</h3>
            <p>{{projectDescription}}</p>
            <a href="{{projectLink}}">View Project</a>
            <a href="{{githubLink}}">GitHub Repository</a>
        </div>
logout
    {{/each}}
</div>
<!-- This is the contact section with a simple contact form -->
{{!-- <div>
    <h2>signup</h2>
    {{!-- need to add signup routes to homepage --}}
    <form>
        <label for="username">username:</label>
        <input type="text" id="username" name="name">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <button type="submit">create</button>
    </form>
</div> --}}
<!-- This is the resume section with a link to download the developer's resume -->
<div>
    <h2>Pick a pokemon to add to your team</h2>
    <a href="{{resumeLink}}"></a>
    <ul>
        {{#each skills}}
            <li>{{this}}</li>

 main
        {{/each}}
    </div>
    <!-- This is the contact section with a simple contact form -->
    <div>
        <h2>signup</h2>
        {{!-- need to add signup routes to homepage --}}
        <form>
            <label for="username">username:</label>
            <input type="text" id="username" name="name">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
         
        </form>
    </div>
    <!-- This is the resume section with a link to download the developer's resume -->
    <div>
        <h2>Pick a pokemon to add to your team</h2>
       
       
    </div>
    {{!-- // to help with animation part for the menu collapse bar --}}
    <script>
   // JavaScript to toggle the display of the top nav bar
document.querySelector('.container').addEventListener('click', function() {
  document.querySelector('.menu').classList.toggle('active');
});
    </script>

    <!-- This is the footer section with links to the developer's profiles -->
    <footer>
        <p>We hope to see you again!</p>
        

    </footer>