 {{#if pokedexEntries}}
  <div class="col-md-6">
        {{#each pokedexEntries as |pokemon|}}

    <h3>{{pokemon.name}}</h3>
    <img src="{{pokemon.sprite}}" alt="Pokemon Sprite">    
    <div class="row mb-2 pokemon-container">
      <div class="col-md-8">
        <h4>#{{pokemon.id}}</h4>
        <h4>{{pokemon.type}} type</h4>        
        <h4>{{pokemon.evolution}}</h4>
        <h4>{{pokemon.trigger}}</h4>
        {{#if pokemon.itemSprite}}
            <img src="{{pokemon.itemSprite}}" alt="Item Sprite">    
        {{/if}}
        <h5>Add to a <a href="#" id="addToTeam" data-pokemon-id="{{pokemon.name}}">Team</a>?</h5>
        <ul id="addToTeamResponse"></ul> <!-- Empty paragraph to display response -->
      </div>
    </div>
  </div>
      {{/each}}
</div>
{{else}}
<h2>Oops! You don't have any Pokemon. Go to the search page to add Pokemon to your Pokedex</h2>
  {{/if}}

<script src="/js/pokedex.js"></script>

